* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #a19bf7;
}

#containere {
  display: flex;
  gap: 40px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  font-family: "Segoe UI", Roboto, sans-serif;
  margin-top: 20px;
}

.done_div,
.todo_div {
  background: #ffffffcc;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 20px;
  flex: 1; /* Kolonnerne fylder lige meget i bredden */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: black;
  margin: 0 0 20px 0;
}
h2 {
  font-size: 20px;
  color: #333;
}

input[type="text"] {
  flex: 1; /* Fylder al tilgængelig plads i sin flex-container */
  padding: 8px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Kun bundlinje */
  font-size: 16px;
  outline: none; /* Fjern standard fokusramme */
  background: transparent; /* Baggrund passer til kolonnen */
}

button {
  padding: 8px 14px;
  border: none;
  background-color: #b8b3f5;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  margin-left: 8px;
  cursor: pointer;
}
#submit {
  background-color: #ffadad;
  border-radius: 20px;
}

button:hover {
  background-color: #7c78b0;
}
#submit:hover {
  background-color: #df8c8c;
}

ul {
  list-style: none;
}

ul li {
  display: flex; /* Flex for checkbox + tekst + evt. knap */
  align-items: center; /* Vertikal centrering */
  gap: 12px;
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

li input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

li input[type="checkbox"]:checked {
  background-color: #ffadad;
  border-color: #f9a1a1;
}

li input[type="checkbox"]:checked::after {
  content: ""; /* pseudo-element */
  position: absolute;
  left: 6px;
  top: 1px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0; /* Tegner selve fluebenet */
  transform: rotate(45deg); /* Roterer til korrekt vinkling */
}
